pytest==8.3.5
multidict==6.0.4
ply==3.11
threadpoolctl==3.6.0
narwhals==2.13.0
lightgbm==4.6.0
uri-template==1.3.0
pkginfo2==30.1.0
rfc3339_validator==0.1.4
pexpect==4.9.0
flake8==7.2.0
text-unidecode==1.3
findpython==0.6.3
GitPython==3.1.45
fqdn==1.5.1
conda-package-handling==2.3.0
semver==3.0.4
babel==2.17.0
rich==14.2.0
traitlets==5.14.3
tokenizers==0.22.1
urllib3==2.5.0
zstandard==0.23.0
opencv-python==4.10.0
nest_asyncio==1.6.0
click==8.3.1
jaraco.classes==3.2.1
kiwisolver==1.4.8
pyrsistent==0.20.0
diskcache==5.6.3
ptyprocess==0.7.0
poetry-core==1.9.1
shortuuid==1.0.13
dictdiffer==0.9.0
statsmodels==0.14.0
jupyterlab_server==2.24.0
isoduration==20.11.0
pillow==11.1.0
gto==1.9.0
PyYAML==6.0.1
iniconfig==2.3.0
pytz==2025.2
gensim==4.3.3
crashtest==0.4.1
toml==0.10.2
json5==0.12.1
sphinxcontrib-htmlhelp==2.1.0
Mako==1.3.9
click-repl==0.3.0
pyproject_hooks==1.0.0
filelock==3.13.1
ruamel.yaml.clib==0.2.8
overrides==7.7.0
cookiecutter==2.6.0
scikit-learn==1.7.2
webencodings==0.5.1
colorama==0.4.6
packageurl-python==0.17.5
flufl.lock==8.2.0
uvicorn==0.34.0
psutil==7.1.0
tinycss2==1.4.0
protobuf==6.33.2
smart-open==5.2.1
orjson==3.11.4
mlflow==2.21.3
jsonschema-specifications==2025.9.1
pre_commit==4.4.0
parquet==1.3.1
saneyaml==0.6.1
executing==2.2.1
zc.lockfile==4.0
entrypoints==0.4
numexpr==2.11.0
pyobjc-framework-Cocoa==11.0
aiohttp-retry==2.9.1
python-json-logger==2.0.7
defusedxml==0.7.1
graphql-core==3.2.6
requests==2.32.3
graphene==3.4.3
resolvelib==1.2.1
pickleshare==0.7.5
Jinja2==3.1.4
Jinja2==3.1.6
tomlkit==0.13.2
async-lru==2.0.5
holidays==0.86
jupyter-events==0.6.3
libmambapy==1.5.8
msgpack==1.0.3
cookiecutter-data-science==2.3.0
python-dotenv==1.2.1
sentry-sdk==2.47.0
click-didyoumean==0.3.1
transformers==4.57.3
websocket-client==1.9.0
aiohttp==3.10.5
conda-pack==0.7.1
yarl==1.11.0
tqdm==4.66.5
seaborn==0.13.2
frozendict==2.4.2
h11==0.14.0
pygit2==1.19.0
wheel==0.44.0
aiohappyeyeballs==2.4.0
jedi==0.19.2
exceptiongroup==1.3.0
commoncode==32.4.0
amqp==5.3.1
sphinxcontrib-qthelp==2.0.0
graphviz==0.20.3
flatten-dict==0.4.2
keyring==25.6.0
dvc-data==3.16.12
regex==2025.11.3
fonttools==4.60.1
certifi==2025.10.5
poetry-plugin-export==1.9.0
httpcore==1.0.2
PySocks==1.7.1
cffi==2.0.0
jupyter_client==8.6.3
cmaes==0.12.0
plotly==6.5.0
distlib==0.3.8
asttokens==3.0.0
fsspec==2024.6.1
sqltrie==0.11.2
jupyter_server==2.10.0
pandocfilters==1.5.1
openai-whisper==20250625
jsonpatch==1.33
kombu==5.5.4
tzdata==2025.2
ipython_pygments_lexers==1.1.1
appnope==0.1.4
numpy==1.26.4
anaconda-anon-usage==0.4.4
opencv-python-headless==4.10.0
dvc-http==2.32.0
pyppeteer==1.0.2
optuna==4.6.0
aiofiles==25.1.0
prompt_toolkit==3.0.52
parso==0.8.5
sphinxcontrib-serializinghtml==2.0.0
decorator==5.2.1
rpds-py==0.27.1
python-slugify==8.0.4
appdirs==1.4.4
ruamel.yaml==0.18.6
packvers==21.5
pydantic==2.12.4
intake==2.0.7
LightAutoML==0.4.2
fasteners==0.20
SQLAlchemy==2.0.44
nbformat==5.10.4
grandalf==0.8
stack_data==0.6.3
configobj==5.0.9
tornado==6.5.2
tornado==6.5.1
sympy==1.14.0
StrEnum==0.4.15
jsonschema==4.25.1
jsonschema==4.17.3
pathspec==0.12.1
dpath==2.2.0
cached-property==1.5.2
pydantic-settings==2.12.0
markdown-it-py==4.0.0
sphinxcontrib-jsmath==1.0.1
pycparser==2.21
sphinx-rtd-theme==3.0.2
tiktoken==0.12.0
dvc-task==0.40.2
frozenlist==1.4.0
nbconvert==7.16.6
nbconvert==6.5.4
truststore==0.8.0
pyparsing==3.2.0
conda-content-trust==0.2.0
pyee==8.2.2
platformdirs==4.5.0
poetry==2.1.2
lxml_html_clean==0.4.3
loguru==0.7.3
cycler==0.11.0
Send2Trash==1.8.3
graphql-relay==3.2.0
opentelemetry-sdk==1.31.1
nbclient==0.10.2
gitdb==4.0.12
Deprecated==1.2.18
roman-numerals-py==3.1.0
nodeenv==1.9.1
pkginfo==1.12.0
typer==0.20.0
celery==5.5.3
jupyterlab==4.1.6
matplotlib==3.10.0
mdurl==0.1.2
patsy==1.0.2
cfgv==3.4.0
python-dateutil==2.9.0.post0
colorlog==6.10.1
mpmath==1.3.0
Sphinx==8.2.3
scipy==1.14.0
jupyterlab_pygments==0.3.0
soupsieve==2.8
build==1.2.2.post1
identify==2.6.15
pygtrie==2.5.0
gunicorn==23.0.0
xattr==1.1.0
RapidFuzz==3.12.1
rsa==4.9
billiard==4.2.3
dulwich==0.22.8
charset-normalizer==3.3.2
fractal-defi==1.2.0
menuinst==2.1.2
Bottleneck==1.4.2
binaryornot==0.4.4
shellingham==1.5.0
snowballstemmer==3.0.1
antlr4-python3-runtime==4.9.3
chardet==5.2.0
pydantic_core==2.41.5
python-inspector==0.15.0
Brotli==1.0.9
dvc-render==1.0.2
sphinxcontrib-devhelp==2.0.0
databricks-sdk==0.49.0
asyncssh==2.21.1
iterative-telemetry==0.0.10
typing_extensions==4.15.0
pycosat==0.6.6
zipp==3.17.0
jupyter_core==5.9.1
imagesize==1.4.1
fastjsonschema==2.21.2
packaging==25.0
fastapi==0.115.12
argon2-cffi==25.1.0
webcolors==24.11.1
wandb==0.23.1
pip==24.2
idna==3.7
hf-xet==1.2.0
jaraco.functools==4.1.0
referencing==0.37.0
pandas==2.3.3
tabm==0.0.3
pluggy==1.5.0
argon2-cffi-bindings==25.1.0
dvc-studio-client==0.22.0
MarkupSafe==3.0.3
networkx==3.3
google-auth==2.38.0
json2html==1.3.0
torch==2.9.1
pure_eval==0.2.3
archspec==0.2.3
opentelemetry-api==1.31.1
distro==1.9.0
importlib_resources==6.4.0
rtdl_num_embeddings==0.0.12
xgboost==2.1.4
starlette==0.46.1
Pygments==2.19.2
trove-classifiers==2024.10.18
funcy==2.0
dparse2==0.7.0
rfc3986-validator==0.1.1
tomli==2.0.1
pyflakes==3.3.2
sphinxcontrib-applehelp==2.0.0
terminado==0.18.1
CacheControl==0.14.0
attrs==25.4.0
jaraco.context==0.0.0
tabicl==0.1.4
jsonpointer==2.1
requests-toolbelt==1.0.0
contourpy==1.3.1
docker==7.1.0
conda_package_streaming==0.10.0
httpx==0.27.0
scmrepo==3.5.5
pydot==4.0.1
jupyter-lsp==2.3.0
dvc-objects==5.1.2
einops==0.8.1
docutils==0.21.2
installer==0.7.0
alabaster==1.0.0
matplotlib-inline==0.1.7
sniffio==1.3.0
smmap==5.0.2
mock==5.2.0
sphinxcontrib-jquery==4.1
thriftpy2==0.5.3
mistune==0.8.4
mistune==3.1.4
sqlparse==0.5.3
websockets==10.4
conda-libmamba-solver==24.9.0
conda-token==0.5.0+1.g2209e04
debugpy==1.8.17
prometheus_client==0.23.1
atpublic==6.0.2
safetensors==0.7.0
shtab==1.8.0
more-itertools==10.3.0
anaconda-catalogs==0.2.0
jupyter_server_terminals==0.5.3
pyobjc-core==11.0
click-plugins==1.1.1.2
aiosignal==1.2.0
anyio==4.2.0
bleach==6.2.0
pylint==3.3.6
lxml==6.0.2
setuptools==75.1.0
hydra-core==1.3.2
numba==0.62.1
mlflow-skinny==2.21.3
beautifulsoup4==4.14.2
typing-inspection==0.4.2
pip-requirements-parser==32.0.1
joblib==1.5.2
annotated-types==0.7.0
AutoWoE==1.3.4
wcwidth==0.2.14
llvmlite==0.45.1
opentelemetry-semantic-conventions==0.52b1
conda==24.11.3
omegaconf==2.3.0
arrow==1.4.0
cryptography==43.0.0
virtualenv==20.28.0
pycodestyle==2.13.0
alembic==1.15.2
six==1.17.0
catboost==1.2.5
huggingface-hub==0.36.0
boltons==23.0.0
typing_utils==0.1.0
voluptuous==0.15.2
pbs-installer==2025.3.17
pyzmq==27.1.0
astroid==3.3.9
ipython==9.6.0
vine==5.1.0
dvc==3.64.0
ipykernel==7.0.1
tabulate==0.9.0
notebook_shim==0.2.4
cleo==2.1.0
importlib-metadata==7.0.1
comm==0.2.3
